-- Today's date in SQL format
SET @today = '2025-05-14';
SET @today_giorno = 'mer';

-- ============= ORDERS BY PROFESSORS =============
-- 5 Ordini Classe made by professors (each has their own class)
  -- Laura Gialli, class 135

-- Get the IDs of the inserted orders for professors
SET @prof_order_1 = LAST_INSERT_ID();
SET @prof_order_2 = @prof_order_1 + 1;
SET @prof_order_3 = @prof_order_1 + 2;
SET @prof_order_4 = @prof_order_1 + 3;
SET @prof_order_5 = @prof_order_1 + 4;

-- Create one OrdineSingolo for each professor's OrdineClasse
INSERT INTO OrdineSingolo (data, nTurno, giorno, confermato, lastUpdate, user, idOrdineClasse)
VALUES
(@today, 2, @today_giorno, true, NOW(), 6, @prof_order_1),
(@today, 2, @today_giorno, true, NOW(), 7, @prof_order_2),
(@today, 2, @today_giorno, true, NOW(), 8, @prof_order_3),
(@today, 2, @today_giorno, true, NOW(), 9, @prof_order_4),
(@today, 2, @today_giorno, true, NOW(), 10, @prof_order_5);

-- Get the IDs of the inserted individual orders for professors
SET @prof_single_order_1 = LAST_INSERT_ID();
SET @prof_single_order_2 = @prof_single_order_1 + 1;
SET @prof_single_order_3 = @prof_single_order_1 + 2;
SET @prof_single_order_4 = @prof_single_order_1 + 3;
SET @prof_single_order_5 = @prof_single_order_1 + 4;

-- Add DettagliOrdineSingolo for each professor's order (what products they ordered)
 -- Fanta

-- ============= ORDERS BY STUDENT CLASSES =============
-- 5 Ordini Classe for student classes (1A, 2A, 3A, 4A, 5A)
-- For student orders, use turno n=0 and n=1, alternating
-- For each class, we'll have 5 individual students ordering
-- Let's select student class representatives as responsabile
-- Note for student orders, oraRitiro is NULL

-- Student classes from the data: 1A=1, 2A=4, 3A=7, 4A=10, 5A=13
 -- 5A representative, class 5A

-- Get the IDs of the inserted orders for student classes
SET @class_order_1 = LAST_INSERT_ID();
SET @class_order_2 = @class_order_1 + 1;
SET @class_order_3 = @class_order_1 + 2;
SET @class_order_4 = @class_order_1 + 3;
SET @class_order_5 = @class_order_1 + 4;

-- For each student class, create 5 individual orders (OrdineSingolo)
-- Make sure to match the turno with the corresponding OrdineClasse
 -- Studente 5 5A

-- Get the first individual order ID for the student orders
SET @stud_single_order_start = LAST_INSERT_ID();

-- Add DettagliOrdineSingolo for each student's order
 -- Studente 5 5A: Yogurt alla frutta