-- Add teacher orders for 2025-05-08 (Thursday)
START TRANSACTION;

-- Set today's date and day
SET @today = '2025-05-08';
SET @day = 'gio';

-- Get the class ID for teachers
SET @prof_class_id = 100;

-- Create some teacher users if they don't exist

-- Create OrdineClasse entries for teachers with today's date
INSERT INTO OrdineClasse (idResponsabile, data, nTurno, giorno, confermato, preparato, oraRitiro, classe)
SELECT 
    u.idUtente,
    @today,
    2, -- turno 2 for professors
    @day,
    TRUE, -- confirmed
    FALSE, -- not prepared
    ADDTIME('07:00:00', SEC_TO_TIME(FLOOR(RAND() * 39600))), -- random time between 7:00 and 18:00
    @prof_class_id
FROM Utente u
WHERE u.ruolo = 'prof'
AND u.nome LIKE 'Prof. %'
AND NOT EXISTS (
    -- Avoid duplicate entries
    SELECT 1 FROM OrdineClasse oc 
    WHERE oc.data = @today 
    AND oc.nTurno = 2 
    AND oc.giorno = @day 
    AND oc.idResponsabile = u.idUtente
);

-- Create individual orders for each teacher
INSERT INTO OrdineSingolo (data, nTurno, giorno, user, idOrdineClasse)
SELECT 
    oc.data,
    oc.nTurno,
    oc.giorno,
    oc.idResponsabile,
    oc.idOrdine
FROM OrdineClasse oc
JOIN Utente u ON oc.idResponsabile = u.idUtente
WHERE oc.data = @today
AND oc.nTurno = 2
AND u.ruolo = 'prof'
AND NOT EXISTS (
    -- Avoid duplicate entries
    SELECT 1 FROM OrdineSingolo os 
    WHERE os.data = @today 
    AND os.nTurno = 2 
    AND os.giorno = @day 
    AND os.user = u.idUtente
);

-- Add some product details to each order
INSERT INTO DettagliOrdineSingolo (idOrdineSingolo, idProdotto, quantita)
WITH available_products AS (
    SELECT idProdotto FROM Prodotto WHERE attivo = TRUE AND eliminato = FALSE LIMIT 10
),
prof_orders AS (
    SELECT os.idOrdine 
    FROM OrdineSingolo os
    JOIN Utente u ON os.user = u.idUtente
    WHERE os.data = @today AND os.nTurno = 2 AND u.ruolo = 'prof'
)
SELECT 
    po.idOrdine,
    p.idProdotto,
    1 + FLOOR(RAND() * 3) -- 1 to 3 items per product
FROM prof_orders po
CROSS JOIN available_products p
WHERE RAND() < 0.4; -- Not all products for each order

-- Make sure each order has at least one product
INSERT INTO DettagliOrdineSingolo (idOrdineSingolo, idProdotto, quantita)
SELECT 
    os.idOrdine,
    (SELECT idProdotto FROM Prodotto WHERE attivo = TRUE AND eliminato = FALSE LIMIT 1),
    1
FROM OrdineSingolo os
JOIN Utente u ON os.user = u.idUtente
WHERE os.data = @today AND os.nTurno = 2 AND u.ruolo = 'prof'
AND NOT EXISTS (
    SELECT 1 FROM DettagliOrdineSingolo d WHERE d.idOrdineSingolo = os.idOrdine
);

-- Display the created orders
SELECT 
    u.nome AS 'Teacher Name',
    oc.data AS 'Date',
    oc.giorno AS 'Day',
    oc.nTurno AS 'Turn',
    TIME_FORMAT(oc.oraRitiro, '%H:%i') AS 'Pickup Time',
    COUNT(dos.id) AS 'Product Count',
    SUM(dos.quantita) AS 'Total Items'
FROM OrdineClasse oc
JOIN Utente u ON oc.idResponsabile = u.idUtente
JOIN OrdineSingolo os ON oc.idOrdine = os.idOrdineClasse
LEFT JOIN DettagliOrdineSingolo dos ON os.idOrdine = dos.idOrdineSingolo
WHERE oc.data = @today AND oc.nTurno = 2 AND u.ruolo = 'prof'
GROUP BY u.nome, oc.data, oc.giorno, oc.nTurno, oc.oraRitiro
ORDER BY oc.oraRitiro;

COMMIT;
