-- Add student class orders for 2025-05-08 (Thursday)
START TRANSACTION;

-- Set today's date and day
SET @today = '2025-05-08';
SET @day = 'gio';

-- First, ensure we have the necessary records in the Turno table for students
INSERT IGNORE INTO Turno (n, giorno, oraInizioOrdine, oraFineOrdine, oraInizioRitiro, oraFineRitiro, nome, studenti)
VALUES 
(0, @day, '08:00', '09:30', '10:00', '11:30', 'Prima Ricreazione', TRUE),
(1, @day, '10:00', '11:30', '12:00', '13:30', 'Seconda Ricreazione', TRUE);

-- Create class records if they don't already exist
INSERT IGNORE INTO Classe (nome) VALUES 
('1A'), ('1B'), ('2A'), ('2B'), ('3A'), 
('3B'), ('4A'), ('4B'), ('5A'), ('5B');

-- Create student users for each class (5 students per class)
INSERT IGNORE INTO Utente (mail, classe, google_id, nome, ruolo)
SELECT 
    CONCAT('studente_', c.nome, '_', n, '@scuola.it'),
    c.id,
    CONCAT('gs_', c.nome, '_', n),
    CONCAT('Studente ', n, ' ', c.nome),
    'studente'
FROM Classe c
CROSS JOIN (
    SELECT 1 AS n UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5
) numbers
WHERE c.nome IN ('1A', '1B', '2A', '2B', '3A', '3B', '4A', '4B', '5A', '5B');

-- Create class orders (OrdineClasse) for each class
INSERT INTO OrdineClasse (idResponsabile, data, nTurno, giorno, confermato, preparato, oraRitiro, classe)
SELECT 
    MIN(u.idUtente), -- First student in the class as responsible
    @today,
    CASE 
        WHEN c.nome LIKE '1%' OR c.nome LIKE '2%' THEN 0 -- First recreation for 1st and 2nd years
        ELSE 1 -- Second recreation for others
    END AS nTurno,
    @day,
    TRUE, -- Confirmed
    FALSE, -- Not prepared
    NULL, -- No pickup time for student class orders
    c.id
FROM Classe c
JOIN Utente u ON u.classe = c.id
WHERE c.nome IN ('1A', '1B', '2A', '2B', '3A', '3B', '4A', '4B', '5A', '5B')
AND u.ruolo = 'studente'
AND NOT EXISTS (
    -- Avoid duplicate entries
    SELECT 1 FROM OrdineClasse oc 
    WHERE oc.data = @today 
    AND oc.giorno = @day 
    AND oc.classe = c.id
)
GROUP BY c.id, c.nome
LIMIT 10;

-- Create individual orders (OrdineSingolo) for each class (5 students per class)
INSERT INTO OrdineSingolo (data, nTurno, giorno, user, idOrdineClasse)
SELECT 
    oc.data,
    oc.nTurno,
    oc.giorno,
    u.idUtente,
    oc.idOrdine
FROM OrdineClasse oc
JOIN Utente u ON u.classe = oc.classe
WHERE oc.data = @today
AND oc.giorno = @day
AND u.ruolo = 'studente'
AND NOT EXISTS (
    -- Avoid duplicate entries
    SELECT 1 FROM OrdineSingolo os 
    WHERE os.data = @today 
    AND os.giorno = @day 
    AND os.user = u.idUtente
)
LIMIT 50; -- 5 students per class * 10 classes

-- Ensure we have some products to order
INSERT IGNORE INTO Gestione (nome) VALUES ('Bar Centrale');

-- Set the gestione id
SET @gestione_id = (SELECT idGestione FROM Gestione WHERE nome = 'Bar Centrale' LIMIT 1);

-- Add some products if they don't exist

-- Add items to orders (different combinations of products for different students)
INSERT INTO DettagliOrdineSingolo (idOrdineSingolo, idProdotto, quantita)
SELECT 
    os.idOrdine,
    p.idProdotto,
    1 + FLOOR(RAND() * 2) -- Order 1-2 of each item
FROM OrdineSingolo os
JOIN Prodotto p ON 1=1
WHERE os.data = @today
AND RAND() < 0.30 -- Each student has about a 30% chance of ordering each product
AND (
    -- Food item pattern: lower class years prefer simpler items, higher class years more variety
    (p.nome LIKE 'Panino%' AND os.user % 10 < 7) OR
    (p.nome LIKE 'Pizza%' AND os.user % 8 < 5) OR
    (p.nome = 'Focaccia' AND os.user % 6 < 3) OR
    -- Drink pattern: almost everyone orders a drink
    (p.nome LIKE 'Acqua%' AND os.user % 4 < 3) OR
    (p.nome = 'Coca Cola' AND os.user % 5 < 2) OR
    (p.nome = 'Succo di Frutta' AND os.user % 7 < 2)
);

-- Make sure every order has at least one product (for any empty orders)
INSERT INTO DettagliOrdineSingolo (idOrdineSingolo, idProdotto, quantita)
SELECT 
    os.idOrdine,
    (SELECT idProdotto FROM Prodotto ORDER BY RAND() LIMIT 1),
    1
FROM OrdineSingolo os
WHERE os.data = @today
AND NOT EXISTS (
    SELECT 1 FROM DettagliOrdineSingolo dos WHERE dos.idOrdineSingolo = os.idOrdine
);

-- Display a summary of the created student class orders
SELECT 
    c.nome AS 'Classe',
    t.nome AS 'Turno',
    oc.giorno AS 'Giorno',
    DATE_FORMAT(oc.data, '%d/%m/%Y') AS 'Data',
    COUNT(DISTINCT os.idOrdine) AS 'Ordini Singoli',
    COUNT(DISTINCT dos.id) AS 'Prodotti Diversi',
    SUM(dos.quantita) AS 'Quantità Totale',
    CONCAT(FORMAT(SUM(dos.quantita * p.prezzo), 2), ' €') AS 'Valore Totale'
FROM OrdineClasse oc
JOIN Classe c ON oc.classe = c.id
JOIN Turno t ON oc.nTurno = t.n AND oc.giorno = t.giorno
JOIN OrdineSingolo os ON oc.idOrdine = os.idOrdineClasse
JOIN DettagliOrdineSingolo dos ON os.idOrdine = dos.idOrdineSingolo
JOIN Prodotto p ON dos.idProdotto = p.idProdotto
WHERE oc.data = @today
GROUP BY c.nome, t.nome, oc.giorno, oc.data
ORDER BY t.n, c.nome;

-- Display individual student orders
SELECT 
    u.nome AS 'Studente',
    c.nome AS 'Classe',
    GROUP_CONCAT(DISTINCT p.nome ORDER BY p.nome SEPARATOR ', ') AS 'Prodotti Ordinati',
    SUM(dos.quantita) AS 'Quantità Totale',
    CONCAT(FORMAT(SUM(dos.quantita * p.prezzo), 2), ' €') AS 'Importo Totale'
FROM OrdineSingolo os
JOIN Utente u ON os.user = u.idUtente
JOIN Classe c ON u.classe = c.id
JOIN DettagliOrdineSingolo dos ON os.idOrdine = dos.idOrdineSingolo
JOIN Prodotto p ON dos.idProdotto = p.idProdotto
WHERE os.data = @today
GROUP BY u.nome, c.nome
ORDER BY c.nome, u.nome
LIMIT 20; -- Show just the first 20 as a sample

COMMIT;
