@import './base.css';

#app {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    /* padding: 1rem; */
    font-weight: normal;
}

body{
    padding: 15px;
    background-color: var(--poldo-background);
}

a {
  text-decoration: none;
  color: var(--poldo-accent);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--poldo-background-soft);
  }
}

@media (min-width: 1024px) {
}
